*{
    font-family: cursive;
    font-weight: 100;
    font-size: 1rem
}

body {
    background: url(./Miche-Playa-Esmeralda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header li {
    position: relative; 
    display: inline-block;
    margin: 20px;
    padding: 20px;
    color: black;
    left: 350px;     
    font-size: 25px; 
}

.imagentransicion {
    position: relative;
    left: 700px;
    bottom: -592px;
    height: 0px;
    max-height: 200px;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-name: desplazarse;
    animation-fill-mode: both;

}

@keyframes desplazarse {
      
     0% {
         left: 70%;
     }

     50% {
         transform: scale(1);
    }
    100% {
        left:50%;
    }
}

.header li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.contenedor .header .contacto {
    background: linear-gradient(90deg,#5079ff,#00deff);
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    padding: 0.5em 1em;
    position: relative;
    text-transform: uppercase;
}

.slogan img {
    position: relative;
    display: inline-block;
    width: 150px;
    margin: 20px;
    float: left;
    height: 150px;
    bottom: 125px;
    left: 40px;
    opacity: .7;
}

.title1 {
    font-size: 65px;
    font-weight: bold;
}

.title2 {
    font-size: 55px;
    font-weight: bold;
    margin: -3px;
    margin-top: -17px;
}

.texto {
    font-size: 20px;
    position: absolute; left: 203px;
}

.circle img {
    bottom: -1000px;
    border-radius: 26%;
    z-index: 1;
    float: left;
    margin: 48px;
    right: -30px;
    position: relative;
    height: 264px;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
    filter: drop-shadow(10px 10px 5px #000);
}

.contenedor1 {
    float: right;
    position: relative;
    z-index: 1;
    top: 1050px;
    text-align: center;
    display: inline-block;
}

.contenedor2 {
  filter: contrast(30);
  position: absolute;
  filter: drop-shadow(10px 10px 5px rgb(52, 161, 211));
  top: 1250px;
  display: block;
}

.circle1 {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: #03b1fe;
    margin: 50px;
    border-radius: 50%;
    filter: blur(20px);
}

.circle1:nth-child(2){
    animation: trasladar 2s alternate infinite;

}

@keyframes trasladar {
    0% {
        transform: translate(0);
    }

    100%{
        transform: translate(180px);
    }

}

.texto1 {
    font-weight: bold;
    font-size: 18px;

}

.iconos {
    box-shadow: 0 3px 5px 0px rgb(8 58 66 / 20%);
    line-height: 86px;
    display: -webkit-inline-box;
    color: #0a0a0a;
    position: relative;
    left: -50px;
    margin: 100px;
    padding: 0px;
    border-radius: 40%;
    height: 70px;
    width: 70px;
    background: #03b1fe;
    -webkit-box-pack: center;
    right: -10000px;
}
.iconos .hola {
    font-size: 30px; 
    justify-content: center;
   -webkit-box-pack: center;
    top: 10px;
    bottom: 10px;
}

.titleicono {
    font-weight: 500px;
    position: relative;
    top: 1780px;
    right: 520px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.titleicono1 {
    bottom: -1660px;
    display: inline-block;
    position: relative;
    left: -200px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.titleicono2 {
    font-weight: 500px;
    position: relative;
    top: 1800px;
    right: 790px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.titleicono3 {
    font-weight: 500px;
    position: relative;
    top: 1680px;
    text-align: center;
    left: -260px;
    font-weight: bold;
    font-size: 15px;
}

.titleicono4 {
    bottom: -1290px;
    display: inline-block;
    position: relative;
    right: -560px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.titleicono5 {
    bottom: -1290px;
    display: inline-block;
    position: relative;
    right: -600px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.titleicono6 {
    font-weight: 500px;
    position: relative;
    top: 1430px;
    text-align: center;
    right: -20px;
    font-weight: bold;
    font-size: 15px;
}

.titleicono7 {
    bottom: -1310px;
    display: inline-block;
    position: relative;
    right: -820px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.threetext {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}